.mainWidgets, .contact {
    width: 100%;
    background-color: rgb(59, 118, 173);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;}

.mainWidgets {
    height: 120px;}


.sizeWidgets {
    display: flex;
}

.widget {
    width: 100%;
    height: 150px;
    background-color: rgb(24, 65, 103);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;}

.contact {
    height: 230px;}
